.container {
  width: 100%;
  display: flex;

  column-gap: 0.25rem;
  align-items: flex-start;
  flex-direction: column;
}

.table {
  width: 100%;

  padding: 1rem 0.5rem;

  border: 0.5px solid #666;
  background-color: var(--color-bg);
  border-radius: var(--radius-bg);

  box-shadow: var(--shadow-sm);

  font-family: var(--font-family-sans);
}

.thead {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));

  border-bottom: 0.5px solid #666;
}
