.container {
  display: flex;
  flex-direction: column;

  gap: 0.25rem;
  align-items: flex-start;
}

.input-name {
  font-size: 1.25rem;

  color: var(--color-text-secondary);
}

.error {
  color: var(--color-danger);
}

.header-wrapper {
  width: 100%;

  gap: 0.25rem;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.required {
  color: var(--color-danger);
}

.error-input {
  font-size: 1rem;
  padding: 0.5rem 1rem;

  border-radius: 0.5rem;
  border: 1px solid var(--color-danger);

  outline: none;
  border-radius: 0.5rem;
  color: var(--color-text-primary);
  background-color: var(--color-bg-secondary);
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.input {
  font-size: 1rem;
  padding: 0.5rem 1rem;

  appearance: textfield;
  border-radius: 0.5rem;
  color: var(--color-text-primary);
  border: 1px solid rgba(255, 255, 255, 0.2);

  background-color: var(--color-bg-secondary);

  outline: none;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.input:focus {
  border-color: none;
}

.input::placeholder {
  color: rgba(229, 231, 235, 0.6);
}

.fitWidth {
  width: 100%;
}

.input.disabled {
  background-color: rgba(229, 231, 235, 0.1);

  cursor: not-allowed;
  pointer-events: none;
  color: rgba(107, 114, 128, 0.7);
  border-color: rgba(203, 213, 225, 0.5);
}
